{% extends 'base.html' %}
<h1> Pprofile</h1>
{% block content %}
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
                <img class="picture-pic"  alt="Profile picture" src="{{ user.profile_picture.url }}">
            <span class="name mt-3">{{ user.first_name }} {{ user.last_name }}</span>
            <span class="idd">@{{ user.username}}</span>
            <span class="idd">{{ user.email}}</span>

                <div class=" d-flex mt-2">
                <a class="btn btn-outline-primary" href="{% url 'users:profile-edit' %}">Edit profile</a>
                </div>
                <div class=" px-2 rounded mt-4 date ">
                <span class="join">Joined {{ user.date_joined|date:'M d,Y' }}</span>
                </div>
            </div>
        </div>
</div>
{#    <img class="picture-pic" alt="Profile picture" src="{{ user.profile_picture.url }}">#}
{#    <p>#}
{#        {{ user.username}}#}
{#    </p>#}
{#    <p>#}
{#        {{ user.email }}#}
{#    </p>#}
{#    <a href="{% url 'users:profile-edit' %}">Edit profile</a>#}
{% endblock content %}
